asgiref==3.9.1 ; python_version >= "3.11"
cffi==1.17.1 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.11"
django==5.2.4 ; python_version >= "3.11"
gevent==25.5.1 ; python_version >= "3.11"
greenlet==3.2.3 ; python_version >= "3.11" and platform_python_implementation == "CPython"
gunicorn==23.0.0 ; python_version >= "3.11"
packaging==25.0 ; python_version >= "3.11"
psycopg-binary==3.2.9 ; python_version >= "3.11" and implementation_name != "pypy"
psycopg==3.2.9 ; python_version >= "3.11"
pycparser==2.22 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.11"
python-dotenv==1.1.1 ; python_version >= "3.11"
setuptools==80.9.0 ; python_version >= "3.11"
sqlparse==0.5.3 ; python_version >= "3.11"
typing-extensions==4.14.1 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.11" and sys_platform == "win32"
zope-event==5.1.1 ; python_version >= "3.11"
zope-interface==7.2 ; python_version >= "3.11"
